/* CSS declarations go here */

body {
	padding-top: 50px;
}

* {
	-webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

.read {
	background-color: #F0F0F0;
}
