/* CSS declarations go here */

body {
	font-size: 90%;
}

* {
	-webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

.read {
	background-color: #F0F0F0;
}

p {
	font-size: .8rem;
}