<template name="signup">
  <h1 class="text-center">Meteor-RSS</h1>
  <p class="text-center">Create an account below or sign in at top right</p>
  
  <form id="signup-form" action="action">
    <div class="row">
      <div class="large-4 columns large-centered text-center">
        <input type="email" placeholder="email" id="signup-email"/>
        <input type="password" placeholder="password" id="signup-password"/>
        <input type="submit" id="signup-button" class="button" value="Create Account"/>
      </div>
    </div>
  </form>
</template>